@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.Home-Page
{
    padding-top: 80px;
    padding-bottom: 0px;
    width: 100%;
    min-height: 100vh;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : white;
}

a{
    text-decoration: none;
    color: white;
}
.profile-picture {
    border-radius: 50%;
    float: left;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 20px;
}
.update-Box {
    letter-spacing: 1px;
    color: #0088a9;
    float: right;
    margin: 20px;
    font-size: 15px;; 
}

.About{
    margin-left: 250px;
    margin-top: 80px;
    margin-right: 100px;
    padding: auto;
    margin-bottom: 100px;
}
.About-image{
    border-radius: 20%;
    position: relative;
    width: 45%;
    height: 40%;    
    transition:all 5s ease 0s;
    animation-name: image-movement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes image-movement {
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 25px;
    }
    100%{
        margin-top: 0px;
    }
}
.About-image-container{
    text-align: center;
    min-height: 60vh;
}
.About-h1{
    margin-top: 50px;
    padding: 15px;
}

.About-h3{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    box-sizing: content-box;
    background-color: #0088a9;
    border-radius: 50%;   
    margin: 50px;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style:normal;
    font-weight: bolder;
    line-height: 3.5rem;
}
.program-list{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 15px;
    word-spacing: auto;
    justify-items:center;
    font-weight: bold;
    list-style: none;
    letter-spacing: 3px;
    
}
.program-list li{
    margin-left: 80px;
}

.program-list li:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #0088a9;
    text-shadow: #E5E5BE;
    font-size: large;
}
.skills-image{
    border-radius: 30%;
    float:center;
    height: 70px;
    width: 70px;
    padding: 5px;
}


@media all and (max-width: 1000px) {

    .profile-picture{
        height: 220px;
        width: 220px;
    }
    .update-Box {
        letter-spacing: 1px;
        color: #0088a9;
        float: right;
        margin: 15px;
        font-size: 10px;; 
    }
    .About{
        margin-left: 50px;
        margin-top: 200px;
        margin-right: 50px;
        margin-bottom: 0px;
    }
    .About ul{
        text-align: center;
        align-items: center;
    }
    .About li{
        margin-left: 0px;
    }
    .About-image{
        width: 80%;
        height: 70%;
        
    }
    .About-image-container{
        min-height: 30vh;
    }
    .About-h3{
        font-size: 40px;
    }
    .heading{
        font-size: 20px;
    }
    .program-list{
        display: grid;
    }
}