html {
  padding: 0px;
  margin: 0px;
  background: #BE93C5;  
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  
  background: linear-gradient(to right, #7BC6CC, #BE93C5); 
  scroll-behavior: smooth;
}

